{{#if banners.bottom}}
<div class="banners" data-banner-location="bottom">
    <div class="banner">
        {{{limit banners.bottom 1}}}
    </div>
</div>
{{/if}}
<footer class="footer" role="contentinfo">
    <div class="container">
        <section class="footer-info">
            <article class="footer-info-col footer-info-col--small">
                <h5 class="footer-info-heading">Customer Service</h5>
                <ul class="footer-info-list">
                    <li><a href="/about-us/">About Us</a></li>
                    <li><a href="/employment/">Employment</a></li>
                    <li><a href="/shipping/">Shipping</a></li>
                    <li><a href="/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="/contact-us/">Contact Us</a></li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small">
                <h5 class="footer-info-heading">Company Info</h5>
                <ul class="footer-info-list">
                    <li><a href="/about-us/">My Account</a></li>
                    <li>
                        {{#if customer}}
                            <a href="{{urls.account.index}}">{{lang 'common.account'}}</a> |
                            <a href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
                        {{else}}
                            <a href="{{urls.auth.login}}">{{lang 'common.login'}}</a> or </span> <a href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
                        {{/if}}
                    </li>
                    <li><a href="/returns-exchanges/">Returns & Exchanges</a></li>
                    <li><a href="/cart.php">My Cart</a></li>
                    <li><a href="/warranty-info/">Warranty Info</a></li>
                </ul>
            </article>

             <article class="footer-info-col categories-column">
                <h5 class="footer-info-heading">Categories</h5>
                <ul class="footer-info-list">
                    <li><a href="">Privacy Shades & Screens</a></li>
                    <li><a href="">Swimming Pool Covers</a></li>
                    <li><a href="">Truck & Trailer Supplies</a></li>
                    <li><a href="">Other Tarps</a></li>
                    <li><a href="">Sitemap</a></li>
                </ul>
            </article>

            <article class="footer-info-col newsletter" data-section-type="newsletterSubscription">

                {{> components/common/subscription-form}}

                <div class="social">
                    {{> components/common/social-links}}
                </div>

            </article>

            

            <article class="copyright">
                <p>All images, videos, content, and design property of Lookout Mountain Tarp (LMT). © 1927-2016. All rights reserved.<br>
                <a href="https://www.diztinct.com/bigcommerce-design.html">BigCommerce Design</a> by Diztinct.com</p>
                <ul>
                    <li class="digicert">
                        <img src="../assets/img/digicert.jpg" alt="">
                    </li>
                    <li><img src="../assets/img/payment-visa.jpg" alt=""></li>
                    <li><img src="../assets/img/payment-mastercard.jpg" alt=""></li>
                    <li><img src="../assets/img/payment-discover.jpg" alt=""></li>
                    <li><img src="../assets/img/payment-amex.jpg" alt=""></li>
                    <li><img src="../assets/img/payment-paypal.jpg" alt=""></li>
                </ul>
            </article>
        </section>

    </div>
</footer>
