<div class="top-msg">
    <div class="us-made">
        <p><img src="../assets/img/us-flag.jpg" alt="US Flag">All Tarps Made in America</p>
    </div>
</div>
<header class="header" role="banner">
    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>

    {{> components/common/navigation}}

    <div class="header-logo">
        {{> components/common/store-logo}}
    </div>

    <div class="navPages-container" id="menu" data-menu>
        {{> components/common/navigation-menu}}
    </div>

    <div class="mobile-ship-msg">
        <p>Fast, Free Shipping on all orders</p>
    </div>

</header>
