<ul class="socialLinks socialLinks--alt">
    <li class="socialLinks-item">
        <a class="icon icon--twitter" href="{{url}}" target="_blank">
            <svg><use xlink:href="#icon-twitter" /></svg>
        </a>
    </li>
    <li class="socialLinks-item">
        <a class="icon icon--facebook" href="{{url}}" target="_blank">
            <svg><use xlink:href="#icon-facebook" /></svg>
        </a>
    </li>
    <li class="socialLinks-item">
        <a class="icon icon--pinterest" href="{{url}}" target="_blank">
            <svg><use xlink:href="#icon-pinterest" /></svg>
        </a>
    </li>
    <li class="socialLinks-item">
        <a class="icon icon--instagram" href="{{url}}" target="_blank">
            <svg><use xlink:href="#icon-instagram" /></svg>
        </a>
    </li>    
</ul>

