<h5 class="footer-info-heading">Newsletter Signup</h5>
<p>Get the latest updates on new products and upcoming sales.</p>

<form class="form" action="{{urls.subscribe.action}}" method="post">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="bc">
        <input type="hidden" name="check" value="1">
        <div class="form-field">
            <label class="form-label u-hiddenVisually" for="nl_email">{{lang 'common.email_address'}}</label>
            <div class="form-prefixPostfix wrap">
                <input class="form-input" id="nl_email" name="nl_email" type="email" value="{{customer.email}}" placeholder="{{lang 'newsletter.email_placeholder'}}">
                <input class="button button--primary form-prefixPostfix-button--postfix" type="submit" value="SIGNUP">
            </div>
        </div>
    </fieldset>
</form>
